body {
	background-color: #232B2B;
}

#heading, #clickCnt, #catNames {
	color: #4EB1BA;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}

#catNames h2 {
	color: white;
}

h1 {
	font-size: 60px;
	padding: 10px 10px;
}

h3 {
	font-size: 40px;
}

#phototainer {
	height: 400px;
}

#photo, #photo1 {
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	padding: 10px 30px 5px 30px;
}

button {
	font-family: 'Gloria Hallelujah', cursive;
	color: #232B2B;
}

#clickCnt {
	padding: 10px 5px;
	font-size: 28px;
}