body {
	background-color: #232B2B;
}

#heading, #clickCnt {
	color: #4EB1BA;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}

h1 {
	font-size: 60px;
	padding: 10px 10px;
}

h3 {
	font-size: 40px;
}

#photo {
	width: 100%;
	padding: 10px 30px 5px 30px;

}

button {
	font-family: 'Gloria Hallelujah', cursive;
	color: #232B2B;
}

#clickCnt {
	padding: 10px 5px;
	font-size: 28px;
}